.DS_Store
__pycache__/
*.png
*.csv
source/data/
source/profiler_*
source/TestMemetic.py
source/ml/data
source/ml/results
source/data_novemeber1
source/data_november8/
source/results/
source/data_nov10/
source/data_nov12/
source/data_slow_traffic/
data_big_hosts/
data_high_traffic/
data_small_hosts/
results_high_traffic/
results_slow_traffic/
results_small_hosts/
source/data_average/



